<!DOCTYPE html>
<html>
  <head>
    <title>VocabApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- フラッシュメッセージ表示 -->
    <div class="container mx-auto mt-6 px-5">
      <% flash.each do |key, message| %>
        <div class="mb-4 p-4 rounded 
                    <%= key == "notice" ? "bg-green-100 text-green-800" : "bg-red-100 text-red-800" %>">
          <%= message %>
        </div>
      <% end %>
    </div>

    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>